RewriteEngine On
RewriteBase /

#Show content .html while run URL /home, /about, etc
RewriteRule ^home$ /index.html [L]
RewriteRule ^about$ /about.html [L]
RewriteRule ^contact$ /contact.html [L]
RewriteRule ^minuman$ /minuman.html [L]
RewriteRule ^property-list$ /property-list.html [L]
RewriteRule ^testimonial$ /testimonial.html [L]

